.chat-container{
    background-color: rgb(255, 255, 255);
    height: calc(100vh - 130px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    width: 1250px;
}

.custom-input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: end;
    padding: 20px;
}

.search-icon {
    display: flex;
  }
  