.custom-head {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 1230px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}