.App{
  display: flex;
  background-color: rgb(247, 242, 242);
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat-head {
  padding: 10px;
}


.ChatPage {
 padding-left: 10px;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

